@import '../../base';

.text-field {
  width: 100%;
  min-height: 2vh;
  border-style: none;
  border: 1px solid $light;
  border-radius: 4px;
  margin-bottom: 2vh;
  padding: 1.2em 0.8em;
  background-color: $dark;
  color: $light;

  &:focus {
    outline: none;
    border: 2px solid white;
  }
}

.text-area {
  width: 100%;
  min-height: 10vh;
  border-style: none;
  border: 1px solid $light;
  border-radius: 4px;
  margin-bottom: 2vh;
  padding: 1.2em 0.8em;
  background-color: transparent;
  color: $light;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  &:focus {
    outline: none;
    border: 2px solid white;
  }
}
