@import '../../base';

.identity-title {
  font-weight: 600;
  margin-bottom: 5vh;
  color: $light;
  font-size: 1em;
  text-transform: uppercase;
}

.form-page {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light;
  width: 36vw;
}

.text-field {
  width: 100%;
  min-height: 2vh;
  border-style: none;
  border: 1px solid $light;
  border-radius: 4px;
  margin-bottom: 2vh;
  padding: 1.2em 0.8em;
  background-color: $dark;
  color: $light;

  &:focus {
    outline: none;
    border: 2px solid white;
  }
}

.submit-button {
  @include button(1.2em 12em, $green);
  margin-bottom: 2vh;

  &:hover {
    opacity: 80%;
  }
  &:disabled {
    background-color: $disabled;
    cursor: not-allowed;
    border-color: $disabled;
  }
}

.second-option {
  @include link();
}
