@import '../../base';

.identity-title {
  font-weight: 600;
  margin-bottom: 5vh;
  color: $light;
  font-size: 1em;
  text-transform: uppercase;
}

.form-page {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light;
  width: 36vw;
}

.text-field {
  width: 100%;
  min-height: 2vh;
  border-style: none;
  border: 1px solid $light;
  border-radius: 4px;
  margin-bottom: 2vh;
  padding: 1.2em 0.8em;
  background-color: $dark;
  color: $light;

  &:focus {
    outline: none;
    border: 2px solid white;
  }
}

.submit-button {
  padding: 1.2em 12em;
  border: 1px solid $green;
  background-color: $green;
  border-radius: 4px;
  color: $light;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 2vh;

  &:hover {
    opacity: 80%;
  }
}

.second-option {
  @include borderlessButton();
}

.forgotten {
  @include borderlessButton();
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 3vh;
  align-self: flex-end;
  text-transform: initial;
}
