@import '../../base';

.identity-title {
  font-weight: 600;
  margin-bottom: 5vh;
  color: $light;
  font-size: 1em;
  text-transform: uppercase;
}

.form-page {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.identity-error-alert {
  background-color: $red;
  min-width: 12vw;
  max-height: 40vh;
  align-self: flex-end;
  border: 1px solid $red;
  border-radius: 4px;
  margin-right: 6vw;
  opacity: 85%;
  color: $light;
  padding: 1vh 1vw;
  font-size: 0.9em;
  text-align: center;
  li {
    list-style-type: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light;
  width: 36vw;
}

.submit-button {
  @include button(1.2em 12em, $green);
  margin-bottom: 2vh;

  &:hover {
    opacity: 80%;
  }
  &:disabled {
    background-color: $disabled;
    cursor: not-allowed;
    border-color: $disabled;
  }
}

.second-option {
  @include link();
}
