$light: #f9f9f9;
$dark: #494747;
$background-dark: #1b1b1b;
$green: #389c0a;
$red: #e64444;
$disabled: #cac7c7;

@mixin borderlessButton() {
  background: none;
  border: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  font-size: 0.8em;
  cursor: pointer;
}

@mixin button($padding, $backgroundColor) {
  background-color: $backgroundColor;
  border: 1px solid $backgroundColor;
  text-transform: uppercase;
  border-radius: 4px;
  color: $light;
  padding: $padding;
  cursor: pointer;
}

.input-label {
  align-self: flex-start;
}

.error-label {
  font-size: 0.8em;
  margin-top: -1vh;
  margin-bottom: 2vh;
  color: $red;
  align-self: flex-start;
}
