$light: #f9f9f9;
$dark: #494747;
$background-dark: #1b1b1b;
$green: #389c0a;

@mixin borderlessButton() {
  background: none;
  border: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  font-size: 0.8em;
  cursor: pointer;
}
